*{
  font-family: "Inter", sans-serif;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.logo {
    display: flex;
}
.logo img {
    margin: 15px 9px;
    width: 42px;         
   height: 42px;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding: 24px 40px;
}


nav ul li {
    list-style: none;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav_links ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;

    cursor: pointer;
}

.nav_links ul li a:hover {
    color: rgb(74, 74, 250);
}

.nav_reg_button {
    width: 150px;
    height: 45px;
    border-radius: 4px;
    border-style: none;
    background-color: rgb(35, 35, 226);

    color: aliceblue;  /* button text color */
    font-weight: 680 ;
    font-size: 15px;

    cursor: pointer;

}

.nav_reg_button:hover {
    background-color:rgba(35, 35, 226, 0.89) ;
}