* {
    font-family: "Inter", sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures padding doesn't affect width */
}

.logo {
    display: flex;
}

.logo img {
    /* margin: 15px 9px;
    width: 42px;
    height: 42px; */

    width: auto;
    height: 45px;
    margin-top: 13px;

}



.container {
    max-width: 1400px;
    margin: auto;
    padding: 8px 40px;
}


nav ul li {
    list-style: none;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav_links ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;

    cursor: pointer;
}

.nav_links ul li a:hover {
    color: rgb(74, 74, 250);
}

.nav_reg_button {
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(35, 35, 226);

    color: aliceblue;
    /* button text color */
    font-weight: 680;
    font-size: 15px;

    cursor: pointer;

    margin-top: 10px;

}

.nav_reg_button:hover {
    background-color: rgba(35, 35, 226, 0.89);
}

.hero_contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin: 100px; */
    padding: 0 20px;
}

.hero_title {
    font-size: 65px;
    color: aliceblue;
}

.hero_paragraph {
    margin: 25px;
    max-width: 600px;
    text-align: center;

    color: aliceblue;
}

.hero_reg_button {
    width: 220px;
    height: 60px;
    border-radius: 11px;
    border-style: none;
    background-color: rgb(35, 35, 226);

    color: aliceblue;
    /* button text color */
    font-weight: 680;
    font-size: 19px;

    cursor: pointer;
    margin-top: 220px;

    
}
.hero_reg_button:hover {
   background-color: rgba(35, 35, 226, 0.578);  
}

.hero_section {
    /* background-color: aqua; */
    background-image: url(assets/banner.jpg);
    background-size: cover;
    
    height: 600px;
    /* width: auto; */
    width: 100%;
    margin-top: 10px; 

    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;


}

.about_speakers_title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

    font-size: 60px;

}

.speakers_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 20px;
}

.speakers_card span {
    color: rgb(52, 141, 237);
    font-size: 12px;
    font-weight: 650;
}

.pp {
    /* background-color: rgb(86, 52, 1); */
    color: #615c5c;
    font-size: 16px;
}